<article class="post">
  <div class="title">
    <h3>{{title}}</h3>
    <h4>({{post_content}})</h4>
  </div>
  {{!-- format_plural takes in two arguments --> we're not using () to pass arguments, so we can separate arguments with spaces --}}
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>